# Created by .ignore support plugin (hsz.mobi)
/week13/Carousel/node_modules/
/week14/Carousel/node_modules/
/week15/node_modules/
/week16/demo/node_modules/
/week16/generator-vue/node_modules/
/week16/myvueapp/node_modules/
/week16/toolchain/node_modules/
/week16/vuedemo/node_modules/
/week17/generator-toytool/node_modules/
/week17/html-parse/node_modules/
/week17/myvueapp2/node_modules/
/week17/myvueapp2/dist/
/week17/test-demo/node_modules/
/week17/generator-toytool/node_modules/
/week18/publish-server/node_modules/
/week18/publish-tool/node_modules/
/week18/server/node_modules/

/week19/publish-server/node_modules/
/week19/git-demo/node_modules/
/week19/headless-demo/node_modules/
